//遮罩的过渡动画
.mask-leave-active{
  transition: .8s all !important;
}
.mask-leave-to{
  opacity: 0 !important;
}

.mask-enter{
  opacity: 0 !important;
}
.mask-enter-active{
  transition: .8s all !important;
}
.mask-enter-to{
  opacity: 1 !important;
}